/* Custom CSS for the Login Page */
body {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
}

.card-header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.card-header h3 {
    margin: 0;
    color: #333;
}

.card-body {
    padding: 20px;
    background-color: #fff;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group label {
    font-weight: bold;
    color: #666;
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0c0b0b;
    transition: all 0.3s;
    padding-right: 40px; /* Add padding to the right to accommodate the icon */
}

.form-control:focus {
    border-color: #6e8efb;
    box-shadow: 0 0 10px rgba(110, 142, 251, 0.2);
}

.form-check-label {
    color: #666;
    margin-left: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: #6e8efb;
    border: none;
    color: #fff;
    font-size: 16px;
    transition: background 0.3s;
}

.btn:hover {
    background: #a777e3;
}

.card-footer {
    background-color: #fff;
    text-align: center;
    padding: 10px;
}

.card-footer small {
    color: #666;
}

.card-footer a {
    color: #6e8efb;
    transition: color 0.3s;
}

.card-footer a:hover {
    color: #a777e3;
}

.card-body .input-box {
    position: relative;
    width: 100%;
}

.input-box input {
    height: 100%;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
    padding-right: 40px; /* Add padding to the right to accommodate the icon */
}

.input-box input::placeholder {
    color: #666;
}

.input-box i {
    position: absolute;
    right: 15px;
    top: 70%; /* Adjusted to 50% for vertical centering */
    transform: translateY(-50%);
    font-size: 20px;
    color: #666;
}
